In [1]:
import os

In [2]:
os.getcwd()

'c:\\Users\\HPr\\Restaurant_Rating_prediction\\notebook'

In [3]:
os.chdir("c:\\Users\\HPr\\Restaurant_Rating_prediction")

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hpr\anaconda3\envs\rest_rating\lib\site-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hpr\anaconda3\envs\rest_rating\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\hpr\anaconda3\envs\rest_rating\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.15.4 in c:\users\hpr\anaconda3\envs\rest_rating\lib\site-packages (from pandas) (1.16.1)
Requirement already satisfied: six>=1.5 in c:\users\hpr\anaconda3\envs\rest_rating\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
csv_file_path=r"C:\Users\HPr\Restaurant_Rating_prediction\RestaurantRating\artifact\data_ingestion\2023-01-11-17-12-28\raw_data\zom.csv"
RestaurantRating_data_frame=pd.read_csv(csv_file_path)

In [6]:
RestaurantRating_data_frame.head(12)

,Restaurant ID,Restaurant_Name,Country Code,City,Address,Locality,Locality Verbose,lon,lat,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price_Range,Rating,Rating color,Review,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
5,18189371,Din Tai Fung,162,Mandaluyong City,"Ground Floor, Mega Fashion Hall, SM Megamall, ...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056314,14.583764,Chinese,...,Botswana Pula(P),No,No,No,No,3,4.4,Green,Very Good,336
6,6300781,Buffet 101,162,Pasay City,"Building K, SM By The Bay, Sunset Boulevard, M...","SM by the Bay, Mall of Asia Complex, Pasay City","SM by the Bay, Mall of Asia Complex, Pasay Cit...",120.979667,14.531333,"Asian, European",...,Botswana Pula(P),Yes,No,No,No,4,4.0,Green,Very Good,520
7,6301290,Vikings,162,Pasay City,"Building B, By The Bay, Seaside Boulevard, Mal...","SM by the Bay, Mall of Asia Complex, Pasay City","SM by the Bay, Mall of Asia Complex, Pasay Cit...",120.979333,14.540000,"Seafood, Filipino, Asian, European",...,Botswana Pula(P),Yes,No,No,No,4,4.2,Green,Very Good,677
8,6300010,Spiral - Sofitel Philippine Plaza Manila,162,Pasay City,"Plaza Level, Sofitel Philippine Plaza Manila, ...","Sofitel Philippine Plaza Manila, Pasay City","Sofitel Philippine Plaza Manila, Pasay City, P...",120.980090,14.552990,"European, Asian, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.9,Dark Green,Excellent,621
9,6314987,Locavore,162,Pasig City,"Brixton Technology Center, 10 Brixton Street, ...",Kapitolyo,"Kapitolyo, Pasig City",121.056532,14.572041,Filipino,...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,532
10,6309903,Silantro Fil-Mex,162,Pasig City,"75 East Capitol Drive, Kapitolyo, Pasig City",Kapitolyo,"Kapitolyo, Pasig City",121.057916,14.567689,"Filipino, Mexican",...,Botswana Pula(P),No,No,No,No,3,4.9,Dark Green,Excellent,1070
11,6309455,Mad Mark's Creamery & Good Eats,162,Pasig City,"23 East Capitol Drive, Kapitolyo, Pasig City",Kapitolyo,"Kapitolyo, Pasig City",121.060820,14.570849,"American, Ice Cream, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.2,Green,Very Good,488

In [7]:
RestaurantRating_data_frame['Rating'].shape

(9551,)

In [8]:
RestaurantRating_data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant_Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   lon                   9551 non-null   float64
 8   lat                   9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  cost_for_two          9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price_Range           9551 non-null   int64
 17  Rating                9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Review                9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [9]:
RestaurantRating_data_frame.describe()

,Restaurant ID,Country Code,lon,lat,cost_for_two,Price_Range,Rating,Votes
count,9.551000e+03,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000
mean,9.051128e+06,18.365616,64.126574,25.854381,1199.210763,1.804837,2.666370,156.909748
std,8.791521e+06,56.750546,41.467058,11.007935,16121.183073,0.905609,1.516378,430.169145
min,5.300000e+01,1.000000,-157.948486,-41.330428,0.000000,1.000000,0.000000,0.000000
25%,3.019625e+05,1.000000,77.081343,28.478713,250.000000,1.000000,2.500000,5.000000
50%,6.004089e+06,1.000000,77.191964,28.570469,400.000000,2.000000,3.200000,31.000000
75%,1.835229e+07,1.000000,77.282006,28.642758,700.000000,2.000000,3.700000,131.000000
max,1.850065e+07,216.000000,174.832089,55.976980,800000.000000,4.000000,4.900000,10934.000000

In [10]:
RestaurantRating_data_frame['Currency'].value_counts()

Indian Rupees(Rs.)        8652
Dollar($)                  482
Pounds(��)                  80
Rand(R)                     60
Emirati Diram(AED)          60
Brazilian Real(R$)          60
NewZealand($)               40
Turkish Lira(TL)            34
Botswana Pula(P)            22
Indonesian Rupiah(IDR)      21
Qatari Rial(QR)             20
Sri Lankan Rupee(LKR)       20
Name: Currency, dtype: int64

In [11]:
RestaurantRating_data_frame['Currency'].unique()

array(['Botswana Pula(P)', 'Brazilian Real(R$)', 'Dollar($)',
       'Emirati Diram(AED)', 'Indian Rupees(Rs.)',
       'Indonesian Rupiah(IDR)', 'NewZealand($)', 'Pounds(��)',
       'Qatari Rial(QR)', 'Rand(R)', 'Sri Lankan Rupee(LKR)',
       'Turkish Lira(TL)'], dtype=object)

In [12]:
RestaurantRating_data_frame['Rating'].unique()

array([4.8, 4.5, 4.4, 4.9, 4. , 4.2, 4.3, 3.6, 4.7, 3. , 3.8, 3.7, 3.2,
       3.1, 0. , 4.1, 3.3, 4.6, 3.9, 3.4, 3.5, 2.2, 2.9, 2.4, 2.6, 2.8,
       2.1, 2.7, 2.5, 1.8, 2. , 2.3, 1.9])

In [13]:
numerical_features=[feature for feature in RestaurantRating_data_frame.columns if RestaurantRating_data_frame[feature].dtypes!='O']
numerical_features

['Restaurant ID',
 'Country Code',
 'lon',
 'lat',
 'cost_for_two',
 'Price_Range',
 'Rating',
 'Votes']

In [14]:
# summary of numerical columns
RestaurantRating_data_frame.describe().T

,count,mean,std,min,25%,50%,75%,max
Restaurant ID,9551.0,9.051128e+06,8.791521e+06,53.000000,301962.500000,6.004089e+06,1.835229e+07,1.850065e+07
Country Code,9551.0,1.836562e+01,5.675055e+01,1.000000,1.000000,1.000000e+00,1.000000e+00,2.160000e+02
lon,9551.0,6.412657e+01,4.146706e+01,-157.948486,77.081343,7.719196e+01,7.728201e+01,1.748321e+02
lat,9551.0,2.585438e+01,1.100794e+01,-41.330428,28.478713,2.857047e+01,2.864276e+01,5.597698e+01
cost_for_two,9551.0,1.199211e+03,1.612118e+04,0.000000,250.000000,4.000000e+02,7.000000e+02,8.000000e+05
Price_Range,9551.0,1.804837e+00,9.056088e-01,1.000000,1.000000,2.000000e+00,2.000000e+00,4.000000e+00
Rating,9551.0,2.666370e+00,1.516378e+00,0.000000,2.500000,3.200000e+00,3.700000e+00,4.900000e+00
Votes,9551.0,1.569097e+02,4.301691e+02,0.000000,5.000000,3.100000e+01,1.310000e+02,1.093400e+04

In [15]:
RestaurantRating_data_frame.isnull().sum()

Restaurant ID           0
Restaurant_Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
lon                     0
lat                     0
Cuisines                9
cost_for_two            0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price_Range             0
Rating                  0
Rating color            0
Review                  0
Votes                   0
dtype: int64

In [16]:
RestaurantRating_data_frame.dtypes

Restaurant ID             int64
Restaurant_Name          object
Country Code              int64
City                     object
Address                  object
Locality                 object
Locality Verbose         object
lon                     float64
lat                     float64
Cuisines                 object
cost_for_two              int64
Currency                 object
Has Table booking        object
Has Online delivery      object
Is delivering now        object
Switch to order menu     object
Price_Range               int64
Rating                  float64
Rating color             object
Review                   object
Votes                     int64
dtype: object

In [17]:
#Removing the Duplicates
RestaurantRating_data_frame.duplicated().sum()

0

In [18]:
RestaurantRating_data_frame.drop_duplicates(inplace=True)

In [ ]:
RestaurantRating_data_frame.shape

(9551, 21)

In [ ]:
pip install seaborn

Collecting seaborn
  Using cached seaborn-0.12.2-py3-none-any.whl (293 kB)
Requirement already satisfied: pandas>=0.25 in c:\users\hpr\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.5.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\hpr\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.24.1)
Collecting matplotlib!=3.6.1,>=3.1
  Downloading matplotlib-3.6.3-cp310-cp310-win_amd64.whl (7.2 MB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp310-cp310-win_amd64.whl (55 kB)
Collecting cycler>=0.10
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\hpr\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hpr\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Collecting contourpy>=1.0.1
  Using cached contourpy-1.0.6-cp310-cp310-win_amd64.whl (163 kB)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\hpr\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Collecting fonttools>=4.22.0
  Using cached fonttools-4.38.0-py3-none-any.whl (965 kB)
Collecting pillow>=6.2.0
  Downloading Pillow-9.4.0-cp310-cp310-win_amd64.whl (2.5 MB)
Requirement already satisfied: pytz>=2020.1 in c:\users\hpr\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.25->seaborn) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\hpr\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.0.6 cycler-0.11.0 fonttools-4.38.0 kiwisolver-1.4.4 matplotlib-3.6.3 pillow-9.4.0 seaborn-0.12.2
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 22.3.1 is available.
You should consider upgrading via the 'c:\Users\HPr\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [ ]:
numerical_features=[feature for feature in RestaurantRating_data_frame.columns if RestaurantRating_data_frame[feature].dtypes!='O']
numerical_features

['Restaurant ID',
 'Country Code',
 'lon',
 'lat',
 'cost_for_two',
 'Price_Range',
 'Rating',
 'Votes']

In [1]:
import os
os.getcwd()

'c:\\Users\\HPr\\Restaurant_Rating_prediction\\notebook'

In [3]:
model_config_file = r"C:\Users\HPr\Restaurant_Rating_prediction\config\model.yaml"

In [6]:
from RestaurantRating.entity.model_factory import ModelFactory

In [7]:
model_factory = ModelFactory(model_config_path=model_config_file)

In [8]:
model_list= model_factory.get_initialized_model_list()

{'fit_intercept': True}
{'min_samples_leaf': 2}

In [9]:
len(model_list)

2

In [10]:
model_list[0]

InitializedModelDetail(model_serial_number='module_0', model=LinearRegression(), param_grid_search={'fit_intercept': [True, False]}, model_name='sklearn.linear_model.LinearRegression')

In [7]:
model_list[1]

InitializedModelDetail(model_serial_number='module_1', model=RandomForestRegressor(min_samples_leaf=2), param_grid_search={'min_samples_leaf': [2]}, model_name='sklearn.ensemble.RandomForestRegressor')

In [11]:
from RestaurantRating.util.util import load_numpy_array_data

In [12]:
data_file_path= r"C:\Users\HPr\Restaurant_Rating_prediction\RestaurantRating\artifact\data_transformation\2023-01-15-00-04-43\transformed_data\train\zom.npz"

In [13]:
data_file_path

'C:\\Users\\HPr\\Restaurant_Rating_prediction\\RestaurantRating\\artifact\\data_transformation\\2023-01-15-00-04-43\\transformed_data\\train\\zom.npz'

In [14]:
pip install numpy==1.16.1

Requirement already satisfied: numpy==1.16.1 in c:\users\hpr\anaconda3\envs\rest_rating\lib\site-packages (1.16.1)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import numpy as np
data = load_numpy_array_data(data_file_path)

In [15]:
x,y=data[:,:-1],data[:,-1]

In [16]:
best_model= model_factory.get_best_model(x,y)

{'fit_intercept': True}
{'min_samples_leaf': 2}
{'cv': 4, 'verbose': 2}
Fitting 4 folds for each of 2 candidates, totalling 8 fits

RestaurantRatingException:
        Error occured in script:
        [ c:\users\hpr\restaurant_rating_prediction\RestaurantRating\entity\model_factory.py ] at
        try block line number: [364] and exception block line number: [369]
        error message: [
        Error occured in script:
        [ c:\users\hpr\restaurant_rating_prediction\RestaurantRating\entity\model_factory.py ] at
        try block line number: [317] and exception block line number: [322]
        error message: [
        Error occured in script:
        [ c:\users\hpr\restaurant_rating_prediction\RestaurantRating\entity\model_factory.py ] at
        try block line number: [302] and exception block line number: [304]
        error message: [
        Error occured in script:
        [ c:\users\hpr\restaurant_rating_prediction\RestaurantRating\entity\model_factory.py ] at
        try block line number: [237] and exception block line number: [248]
        error message: [Cannot have number of splits n_splits=4 greater than the number of samples: n_samples=1.]
        ]
        ]
        ]